@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&subset=latin,latin-ext);
@import url("colors/color.css");

body{
	margin: 0;
	padding: 0;
}

.body-container{
	width: 100%;
	height: 100vh;
	position: relative;
}


/* top --------------------------------------------------------------------------------------------*/

.body-container-top{
	width: 100%;
	min-height: 80px;
	border-bottom: 1px solid transparent;
	border-color: #3984c7;
	position: absolute;
	top: 0;
	z-index: 100;
}

.navigation{
	width: 90%;
	height: 80px;
	margin: 0 auto;
}

.logo{
	width: 164px;
	height: 45px;
	margin-top: 15px;
	float: left;
}

.switch-city{
	width: 200px;
	height: 80px;
	float: left;
}

.parent{
  position:relative;
  display:block;
  width:60px;
  height:60px;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
}
.paris {
  width:45px;
  height:45px;
  border-radius:50%;
  position:absolute;
  color: #fff;
  background-color: #3984c7;
  text-align:center;
  line-height:42px;
  top:17px;
  left:45px;
  color: #fff;
  border: 1px solid transparent;
  border-color: #3984c7;
  font-family: "lato",sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 10px;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.toronto {
  width:45px;
  height:45px;
  border-radius:50%;
  position:absolute;
  color: #fff;
  text-align:center;
  line-height:43px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #3984c7;
  top:17px;
  left:45px;
  z-index:19;
  color: #3984c7;
  font-family: "lato",sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 8px;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
/*.newyork {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
}
 .beijing {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
}*/
.current-city {
  top:10px;
  left:36px;
  width:60px;
  height:60px;
  background-image: url('../images/lokafyer/switch-city-current.png');
  border-radius:50%;
  position:absolute;
  z-index:21;
  text-align:center;
  line-height:59px;
  cursor:pointer;
  position:absolute;
  color: #fff;
  font-family: "lato",sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 13px;
}

.link a{
	float: right;
	color: #111;
	padding-top: 29px;
	font-family: "lato",sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 15px;
}

.link a:hover{
	border-bottom: 1px solid transparent;
	transition: all 300ms linear 0s;
}


/* bottom --------------------------------------------------------------------------------------------*/

.body-container-bottom{
	width: 100%;
	height: 100vh;
}

.top-space{
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	background-color: #fff;
}

.top-space-1{
	width: 100%;
	height: 80px;
}

/* filter ----------------------------------------------*/

.filter{
	width: 24%;
	height: 100vh;
	float: left;
	border-right: 1px solid transparent;
	border-color: #3984c7;
}

.filter p{
	color: #111;
	padding: 0 10px 0 10px;
	font-family: "lato",sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 12px;
}

/* map -----------------------*/

.map{
	width: 90%;
	height: 120px;
	margin: auto;
	position: relative;
}

.map img{
	display: block;
	width: 100%;
	height: auto;
	max-height: 120px;
	max-width: 192px;
	margin: auto;
}

.map p{
	position: absolute;
	left: 0;
	top: 0;

}


/* gender -----------------------*/


.gender{
	width: 90%;
	height: 90px;
	margin: auto;
	margin-top: 10px;
}

@media only screen and (min-width: 982px){
.gender-icon{
	width: 165px;
	height: 63px;
	margin: auto;
}
}

@media only screen and (max-width: 981px){
.gender-icon{
	width: 135px;
	height: 50px;
	margin: auto;
}
}


@media only screen and (min-width: 982px){
.gender img{
	display: block;
	width: 50px;
	height: 63px;
	float: left;
	margin-right: 5px;
}
}

@media only screen and (max-width: 981px){
.gender img{
	display: block;
	width: 40px;
	height: 50px;
	float: left;
	margin-right: 5px;
}
}


/* age -----------------------*/

.age{
	width: 90%;
	height: 80px;
	margin: auto;
}

/* the slider bar */
.age-slider {
  position: relative;
  width: 80%;
  height: 1px;
  margin: 1.5px auto;
  background-color: #3984c7;
  border-radius: 0.5em;
  box-sizing: border-box;
  font-size: 20px;
  -ms-touch-action: none;
      touch-action: none;
}

/* the slider handle */
.age-slider:before {
  content: "";
  display: block;
  position: relative;
  top: -15px;
  width: 30px;
  height: 30px;
  margin-left: -1em;
  border: solid 2px #fff;
  border-radius: 1em;
  background-color: inherit;
  box-sizing: border-box;
}

/* display the value */
.slider:after {
  content: attr(data-value);
  position: absolute;
  top: -1.5em;
  width: 2em;
  line-height:1em;
  margin-left: -1em;
  text-align: center;
}


/* interests -----------------------*/

.interests{
	width: 90%;
	margin: auto;
	margin-top: 35px;
}

.interests img{
	display: block;
	margin: 2.5px;
	float: left;
	width: 50px;
	height: auto;
}
@media only screen and (min-width: 982px){
.icon-container{
	width: 220px;
	height: 165px;
	margin: auto;
}
}

@media only screen and (max-width: 981px){
.icon-container{
	width: 165px;
	height: 220px;
	margin: auto;
}
}


/* language -----------------------*/

.languages{
	width: 90%;
	height: 150px;
	margin: auto;
	position: relative;
}

.languages nav {
	float:left;
	margin-left: 15px;
	margin-top: 5px;
	border: 1px solid transparent;
	border-color: #3984c7;
}
.languages nav ul {
	display: block;
	margin-left: -36px;
}
.languages nav ul li {
	display: inline;

}

.languages nav ul li a {
	display:block;
	color: #111;
	padding: 10px;
	font-family: "Lato",sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 10px;
}

.languages nav ul li a:hover{
	color: #3984c7;
}

@media only screen and (min-width: 400px){
.languages nav ul li ul {
	position:absolute;
	width:110px;
	left: 38%;
	top: 35.5px;
}
}

@media only screen and (max-width: 399px){
.languages nav ul li ul {
	position:absolute;
	width:110px;
	left: 30.5%;
	top: 40px;
}
}

.languages nav ul li ul li {
	width:110px;
	text-align: center;
}
.languages nav ul li ul li a {
	display:block;
	padding:5px 5px 5px 10px;
	color:#111;
}
.languages nav ul li ul li:hover a {
	background:#f5f5f5;
}
.languages nav ul li ul.fallback {
	display:none;
}
.languages nav ul li:hover ul.fallback {
	display:block;
}


/* content(Lokafyer profiles) ----------------------------------------------*/

.content-container{
	width: 75%;
	height: 100vh;
	float: right;
	overflow: scroll;
}

.content{
	width: 100%;
}


@media only screen and (min-width: 1400px) {
.content-lokafyer{
	width: 32%;
	height: 171px;
	float: left;
	margin-right: 1%;
	background-color: #f5f5f5;
	transition: all 0.5s;
	margin-top: 10px;
	border:1px solid #F00;
}
}


@media only screen and (min-width: 960px) and (max-width: 1399px) {
.content-lokafyer{
	width: 49%;
	height: 171px;
	float: left;
	margin-right: 1%;
	background-color: #f5f5f5;
	transition: all 0.5s;
	margin-top: 10px;
}
}

@media only screen and (max-width: 959px) {
.content-lokafyer{
	width: 99%;
	height: 171px;
	float: left;
	margin-right: 1%;
	background-color: #f5f5f5;
	transition: all 0.5s;
	margin-top: 10px;
}
}

@media only screen and (min-width: 725px){
.content-container{
	width: 75.36%;
	height: 100vh;
	float: right;
	overflow: scroll;
}
}

@media only screen and (max-width: 724px){
.content-container{
	width: 100%;
	height: 100vh;
	float: right;
	overflow: scroll;
}
}

.content-lokafyer:hover{
	background-color: #3984c7;
	transition: all 0.5s;
}

.profile{
	width: 50%;
	height: auto;
}

.profile img{
	float: left;
	padding: 10px 0 10px 10px;
}

.intro{
	width: 50%;
	height: auto;
	max-height: 171px;
	float: left;
	text-align: center;
	overflow: scroll;
}

.intro{
	width: 50%;
	height: auto;
	max-height: 171px;
	float: left;
	text-align: center;
	overflow: scroll;
}

.intro h4{
	color: #111;
	padding: 0 10px 10px 30px;
	font-family: "lato",sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 15px;
}

.intro p{
	color: #111;
	padding: 0 10px 0 30px;
	font-family: "lato",sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 12px;
}


/* other ----------------------------------------------*/

i[class^="icon-"]{
    font-size: 38px;
    margin-right: 15px;
    margin-bottom: 15px;
    line-height: 52px;
    text-align: center;
    color: #3984c7;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 50%;
    border: 1px solid #3984c7;
    display: inline-block;
    width: 52px;
}

.lightbox{
	display: none;
	width: 600px;
	
}

.lightbox p{
	color: #111;
	padding: 0 10px 0 30px;
	font-family: "lato",sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 12px;
}


.lightbox img{
	display: block;
	margin: auto;
	border-radius: 50%;
	margin-bottom: 20px;
}

.lightbox-map{
	display: none;
	width: 900px;
	height: 620px;
}

.map-container{
	width: 900px;
	height: 600px;
	
}

.map-container-left{
	width: 600px;
	height: 600px;
	float: left;
}

.map-container-right{
	width: 300px;
	height: 600px;
	float: left;
	text-align: center;
}

.map-container-right p{
	margin-left:50px;
	letter-spacing: 1px;
	font-size: 20px;
	color:#0099FF;  
	font-family: 'lato',sans-serif;
	font-weight: 400;
	text-transform: uppercase;

}

.map-container-right-top{
	width: 300px;
	height: auto;
}

.map-container-right-top img{
	margin-top: 5%;
	margin-left: 5%;
	max-width: 110px;
	max-height:110px;
}


.map-container-right-bottom{
	float:left;
	margin-top:5%;
	padding-left:50px;
	width: 300px;
	height: auto;
}

.map-container-right-bottom img{
	width: 50px;
	height: auto;
	display: block;
	margin-left: 20px;
	float: left;
}

.map-container-right-bottom p{
	font-family: "lato",sans-serif;

	width:300px;
	padding-right: 70px;
}




/* Yuki CSS*/

.nav_logo {
	width: 24%;
	float: left;
}
.nav_container {
	width: 75%;
	float: right;
	bottom: 0;
  	position: absolute;
  	right: 0;
}
.nav_container p {
	float: left;
	width: 80%;
	color: #111;
	padding: 0px 10px 10px 30px;
	font-family: "lato",sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 15px;
}
.nav_container button {
	float: right;
}
/*
button {
	background-color: #3984c7;
 	color: #fff;
 	font-size: 100%;
  	border: none;
  	padding: 8.5px;
  	text-align: center;
}
button:hover {
	cursor: pointer;
}
*/
.navigation {
	position: relative;
}

.form-control.display-inherit {
	display: inline-block;
	width: inherit;
}

#booking-request-modal .about-us span{
	float: left;
	margin-right: 20px;
}
#booking-request-modal .about-us textarea {
	width: 50%; height: 138px;
}

#booking-request-modal img {
	border: none;
}
.lightbox-profile .modal-dialog {
	
	text-align: center;
}
.lightbox-profile .modal-dialog img {
	display: block;
	margin: auto auto 20px;
	border-radius: 50%;
}
.lightbox-profile .modal-dialog button {
	text-align: center;
	margin: auto 0;
}
.lightbox-profile .modal-dialog p {
	color: #111;
	padding: 0px 10px 0px 30px;
	font-family: "lato",sans-serif;
	font-weight: 300;
	text-align: left;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 12px;
}
.lightbox-profile .modal-dialog p strong {
	color: #05A9C5;
}
.content-lokafyer-selected {
	background-color: #3984c7;
	transition: all 0.5s;
}

.intro{
	width: 50%;
	height: auto;
	max-height:170px;
	float: left;
	text-align: left;
	overflow: hidden;
}

.intro h4{
	color: #111;
	padding: 0 10px 10px 30px;
	font-family: "lato",sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 15px;
}

.intro p{
	color: #05a9c5;
	padding: 0 10px 0 30px;
	font-family: "lato",sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 12px;
}

nav ul li ul {
	top: 391px;
	left: 135px;
}

#selErrorModal h4{
    font-family: "lato",sans-serif;
    padding: 10px;
    text-align: center;
}

#submitModal h4{
    font-family: "lato",sans-serif;
    padding: 10px;
    text-align: center;
}

body, .modal-dialog {
	font-family: "lato",sans-serif;
}


div.noUi-value:nth-child(12),
div.noUi-value:nth-child(2),
div.noUi-marker:nth-child(11), 
div.noUi-marker:nth-child(1){
	display:none;
}

.headerDivider {
         border-left:1px solid black; 
         right:30%;
     height:630px;
     position:absolute;
     
}

.map-avatar-text{
	margin-right:15px;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: 'lato',sans-serif;
	font-weight: 400;

}

.map-description{
	text-align: justify;
	padding-left:45px;
}

/* filter ----------------------------------------------*/






.filter p{
	color: #111;
	padding: 0 10px 0 10px;
	font-family: "lato",sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 12px;
}

/* map -----------------------*/

.map{
	width: 90%;
	margin: auto;
	position: relative;
	margin-top: 5px;
}

.map img{
	display: block;
	width: 100%;
	height: auto;
	max-height: 120px;
	max-width: 192px;
	margin: auto;
}

.map p{
	position: absolute;
	left: 0;
	top: 0;

}

/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#fff;
	overflow:auto;
	z-index:99;
}

@media only screen and (min-width: 725px){
.filter{
	width: 24.5%;
	height:	100vh;
	float: left;
	border-right: 1px solid transparent;
	border-color: #3984c7;
}

.filter-mobile{

	display: none;
}
}




.svg-container {

display: inline-block;

position: relative;

width: 100%;

padding-bottom: 100%;

vertical-align: middle;

overflow: hidden;

}




.svg-content {

display: inline-block;

position: absolute;

top: 0;

left: 0;

}


@media only screen and (max-width: 724px){
.filter{
	display: none;
}
.age{
	display: none;
}

.lightbox-map{
	z-index:-1;
	display: none;
	width: 400px;
	height: auto;
}

.headerDivider {
         border-bottom:2px solid black; 
         height:1px;
     width:80%;
     left:10%;
     right:10%;
     top: 52%;
     position:absolute;
     
}


.map-container{
	width: 100%;
	height: auto;
	/*background-image: url('../images/icon/background.png');*/
}


.map-container-left{
	width: 100%;
	height: auto;
	float: left;
}

.map-container-right{
	clear:both;
	width: 400px;
	height: auto;
	left:50%;
	text-align: center;
}
.map-container-right-bottom{
	width:100%;
}

.map-container-right-top{
	width:100%;
}
.map-container-right-top p{
		font-family: "lato",sans-serif;
	width:400px;
	margin-left:0;
	text-align: center;
}
.map-container-right-bottom p{
	width:100%;
}
.featherlight-close-icon{
	padding-right:30px;
}
.content-lokafyer{
	width:100%;
}
.filter-mobile{
	width: 100%;
}
.map-description{
	clear:both;
	text-align: justify;
	width: 98%;
	padding-left:0;
}
.button {
	display:inline;
	position:absolute;
	left:45%;
	top:15px;
	z-index:100;
	font-size:30px;
}
.nav-header{
	display:none;
}

.nav_container button {
	float: right;
	display:inline;
	
	position: relative;
	
	top:-15px;
}

/*booking request modal*/
#booking-request-modal.modal-dialog{
	width:50%;
}
}


@media only screen and (max-width: 360px){
.filter{
	display: none;
}
.age{
	display: none;
}

.lightbox-map{
	z-index:-1;
	display: none;
	width: 340px;
	height: auto;
}

.headerDivider {
         border-bottom:2px solid black; 
         height:1px;
     width:80%;
     left:10%;
     right:10%;
     top: 52%;
     position:absolute;
     
}


.map-container{
	width: 100%;
	height: auto;
	/*background-image: url('../images/icon/background.png');*/
}


.map-container-left{
	width: 100%;
	height: auto;
	float: left;
}

.map-container-right{
	clear:both;
	width: 340px;
	height: auto;
	left:50%;
	text-align: center;
}
.map-container-right-bottom{
	width:100%;
}

.map-container-right-top{
	width:100%;
}
.map-container-right-top p{
	width:340px;

	margin-left:0;
	text-align: center;
}
.map-container-right-bottom p{
	width:100%;
}
.featherlight-close-icon{
	padding-right:10px;
}
.filter-mobile{
	width: 100%;
}
.content-lokafyer{
	width:100%;
}
.button {
	display:inline;
	position:absolute;
	left:45%;
	top:15px;
	z-index:100;
	font-size:30px;
}
.nav-header{
	display:none;
}

.nav_container button {
	float: right;
	display:inline;
	
	position: relative;
	
	top:-15px;
}

/*booking request modal*/
#booking-request-modal.modal-dialog{
	width:50%;
}
}

@media only screen and (max-width:359px){
.filter{
	display: none;
}
.age{
	display: none;
}

.lightbox-map{
	z-index:-1;
	display: none;
	width: 300px;
	height: auto;
}

.headerDivider {
         border-bottom:2px solid black; 
         height:1px;
     width:80%;
     left:10%;
     right:10%;
     top: 52%;
     position:absolute;
     
}


.map-container{
	width: 100%;
	height: auto;
	/*background-image: url('../images/icon/background.png');*/
}


.map-container-left{
	width: 100%;
	height: auto;
	float: left;
}

.map-container-right{
	clear:both;
	width: 300px;
	height: auto;
	left:50%;
	text-align: center;
}
.map-container-right-bottom{
	width:100%;
}

.map-container-right-top{
	width:100%;
}
.map-container-right-top p{
	width:300px;

	margin-left:0;
	text-align: center;
}
.map-container-right-bottom p{
	width:100%;
}
.content-lokafyer{
	width:100%;
}
.featherlight-close-icon{
	padding-right:10px;
}
#navigation{
	width:100%;
}
.filter-mobile{
	width: 100%;
}
.button {
	display:inline;
	position:absolute;
	left:45%;
	top:15px;
	z-index:100;
	font-size:30px;
}
.nav_logo img{
	width:130px;
}
.nav-header{
	display:none;
}
.button img{
	width:50px;
}
.nav_container button {
	float: right;
	display:inline;
	width:100px;
	font-size:10px;
	position: relative;
	right:5px;
	top:-23px;
}

/*booking request modal*/
#booking-request-modal.modal-dialog{
	width:50%;
}
}

@media only screen and (min-width: 725px){
/*booking request modal*/
#booking-request-modal.modal-dialog,
#booking-modal {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}


#booking-modal .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  box-shadow: none;
}

#booking-modal.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
   width: 100%;
  height: 50px;
  padding: 10px;
  background: #6598d9;
  border: 0;
}

#booking-modal.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

#booking-modal.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
   width: 100%;
  background: #f1f3f5;
}
}

