html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}
.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
body {
  font: 13px/20px 'Lato', sans-serif;
  color: #404040;
  background: #fff;
}

@media only screen and (min-width: 480px){
.search-container {
  margin: auto;
  width: 400px;
  height: 74px;
  background-color:rgba(255,255,255,0.3); 
}
}

@media only screen and (max-width: 479px){
.search-container {
  margin: auto;
  width: 300px;
  height: 56px;
  background-color:rgba(255,255,255,0.3); 
}
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #111;
}

@media only screen and (max-width: 479px){
.search {
  position: relative;
  margin: 0 auto;
  width: 300px;
}
}

@media only screen and (min-width: 480px){
.search {
  position: relative;
  margin: 0 auto;
  width: 400px;
}
}

@media only screen and (max-width: 479px){
.search select {
  height: 36px;
  width: 280px;
  padding: 0 12px 0 25px;
  background: white url("../images/icon/search.png") 8px 12px no-repeat;
  border: 0px solid;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
  margin-top: 10px;
  z-index: 100;
}
}

@media only screen and (min-width: 480px){
.search select {
  height: 55px;
  width: 380px;
  padding: 0 12px 0 25px;
  background: white url("../images/icon/search.png") 8px 22px no-repeat;
  border: 0px solid;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px #fcfcfc;
  margin-top: 10px;
  z-index: 100;
}
}

.search select:focus {
  outline: 0;
  border-color: #66b1ee;
  -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
  box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}
.search select:focus + .search-ac {
  display: block;
}
.search select option {
  padding: 3px 25px;
}
.search select option:first-child {
  color: rgba(239, 239, 239, 0.5);
}
.search select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

@media only screen and (max-width: 479px){
.search-button{
  width: 90px;
  height: 37px;
  background-color: #3984c7;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  padding-top: 8.5px;
  text-align: center;
}
}

@media only screen and (min-width: 480px){
.search-button{
  width: 125px;
  height: 56px;
  background-color: #3984c7;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  padding-top: 16.5px;
  padding-left: 4px;
  text-align: center;
}
}

.search-ac {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  border: 0px solid;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.search-ac:hover {
  display: block;
}
.search-ac li {
  display: block;
}
.search-ac li:first-child {
  margin-top: -1px;
}
.search-ac li:first-child:before, .search-ac li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border: 5px outset transparent;
}
.search-ac li:first-child:before {
  border-bottom: 5px solid #c4c7d7;
  top: -11px;
}
.search-ac li:first-child:after {
  border-bottom: 5px solid #fdfdfd;
  top: -10px;
}
.search-ac li:first-child:hover:before, .search-ac li:first-child:hover:after {
  display: none;
}
.search-ac li:last-child {
  margin-bottom: -1px;
}
.search-ac a {
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 40px 6px 10px;
  color: #808394;
  font-weight: 500;
  text-decoration: none;
}
.search-ac a span {
  font-weight: 200;
}
.search-ac a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  background: url("../images/icon/arrow.png") 0 0 no-repeat;
}
.search-ac a:hover {
  color: white;
  background: #3984c7;

}

:-moz-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: #a7aabc;
  font-weight: 200;
  line-height: 14px;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.lt-ie9 .search input {
  line-height: 26px;
}
