@font-face {
  font-family: 'interests';
  src: url('../font/interests.eot?92835484');
  src: url('../font/interests.eot?92835484#iefix') format('embedded-opentype'),
       url('../font/interests.woff?92835484') format('woff'),
       url('../font/interests.ttf?92835484') format('truetype'),
       url('../font/interests.svg?92835484#interests') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'interests';
    src: url('../font/interests.svg?92835484#interests') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "interests";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-headphones:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-camera-1:before { content: '\e802'; } /* '' */
.icon-video-alt:before { content: '\e803'; } /* '' */
.icon-theatre:before { content: '\e804'; } /* '' */
.icon-pencil-4:before { content: '\e805'; } /* '' */
.icon-briefcase:before { content: '\e806'; } /* '' */
.icon-suitcase:before { content: '\e807'; } /* '' */
.icon-bank:before { content: '\e808'; } /* '' */
.icon-glass:before { content: '\e809'; } /* '' */
.icon-pagelines:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-mail-alt:before { content: '\e80d'; } /* '' */
.icon-leaf-1:before { content: '\e80e'; } /* '' */
.icon-basket:before { content: '\e80f'; } /* '' */
.icon-star:before { content: '\e810'; } /* '' */
.icon-star-empty:before { content: '\e811'; } /* '' */
.icon-chat-2:before { content: '\e812'; } /* '' */
.icon-male:before { content: '\e813'; } /* '' */
.icon-pitch:before { content: '\e814'; } /* '' */
.icon-female:before { content: '\e815'; } /* '' */
.icon-users:before { content: '\e816'; } /* '' */
.icon-star-half-alt:before { content: '\e817'; } /* '' */
.icon-comment-3:before { content: '\e818'; } /* '' */
.icon-picture:before { content: '\e819'; } /* '' */
.icon-vector-pencil:before { content: '\e81a'; } /* '' */
.icon-beer-1:before { content: '\e81b'; } /* '' */
.icon-th-list:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-ok-circled:before { content: '\e81e'; } /* '' */
.icon-ok-circled2:before { content: '\e81f'; } /* '' */
.icon-hdd-1:before { content: '\e820'; } /* '' */
.icon-plus:before { content: '\e823'; } /* '' */
.icon-plus-circled:before { content: '\e824'; } /* '' */
.icon-plus-squared-alt:before { content: '\e825'; } /* '' */
.icon-minus-circled:before { content: '\e826'; } /* '' */
.icon-minus:before { content: '\e827'; } /* '' */
.icon-minus-squared-alt:before { content: '\e828'; } /* '' */
.icon-help:before { content: '\e829'; } /* '' */
.icon-help-circled:before { content: '\e82a'; } /* '' */
.icon-info-circled:before { content: '\e82b'; } /* '' */
.icon-info:before { content: '\e82c'; } /* '' */
.icon-home:before { content: '\e82d'; } /* '' */
.icon-link:before { content: '\e82e'; } /* '' */
.icon-unlink:before { content: '\e82f'; } /* '' */
.icon-link-ext:before { content: '\e830'; } /* '' */
.icon-link-ext-alt:before { content: '\e831'; } /* '' */
.icon-attach:before { content: '\e832'; } /* '' */
.icon-lock:before { content: '\e833'; } /* '' */
.icon-lock-open:before { content: '\e834'; } /* '' */
.icon-lock-open-alt:before { content: '\e835'; } /* '' */
.icon-pin:before { content: '\e836'; } /* '' */
.icon-eye:before { content: '\e837'; } /* '' */
.icon-eye-off:before { content: '\e838'; } /* '' */
.icon-flag:before { content: '\e83d'; } /* '' */
.icon-flag-empty:before { content: '\e83e'; } /* '' */
.icon-flag-checkered:before { content: '\e83f'; } /* '' */
.icon-thumbs-up:before { content: '\e840'; } /* '' */
.icon-thumbs-down:before { content: '\e841'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e842'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e843'; } /* '' */
.icon-download:before { content: '\e844'; } /* '' */
.icon-upload:before { content: '\e845'; } /* '' */
.icon-download-cloud:before { content: '\e846'; } /* '' */
.icon-upload-cloud:before { content: '\e847'; } /* '' */
.icon-reply:before { content: '\e848'; } /* '' */
.icon-reply-all:before { content: '\e849'; } /* '' */
.icon-forward:before { content: '\e84a'; } /* '' */
.icon-quote-left:before { content: '\e84b'; } /* '' */
.icon-quote-right:before { content: '\e84c'; } /* '' */
.icon-code:before { content: '\e84d'; } /* '' */
.icon-export:before { content: '\e84e'; } /* '' */
.icon-export-alt:before { content: '\e84f'; } /* '' */
.icon-share:before { content: '\e850'; } /* '' */
.icon-share-squared:before { content: '\e851'; } /* '' */
.icon-pencil:before { content: '\e852'; } /* '' */
.icon-edit:before { content: '\e853'; } /* '' */
.icon-print:before { content: '\e854'; } /* '' */
.icon-retweet:before { content: '\e855'; } /* '' */
.icon-gamepad:before { content: '\e856'; } /* '' */
.icon-comment:before { content: '\e857'; } /* '' */
.icon-chat:before { content: '\e858'; } /* '' */
.icon-comment-empty:before { content: '\e859'; } /* '' */
.icon-chat-empty:before { content: '\e85a'; } /* '' */
.icon-bell:before { content: '\e85b'; } /* '' */
.icon-bell-alt:before { content: '\e85c'; } /* '' */
.icon-bell-off:before { content: '\e85d'; } /* '' */
.icon-bell-off-empty:before { content: '\e85e'; } /* '' */
.icon-attention-alt:before { content: '\e85f'; } /* '' */
.icon-attention:before { content: '\e860'; } /* '' */
.icon-attention-circled:before { content: '\e861'; } /* '' */
.icon-location:before { content: '\e862'; } /* '' */
.icon-fast-food:before { content: '\e863'; } /* '' */
.icon-compass:before { content: '\e864'; } /* '' */
.icon-trash:before { content: '\e865'; } /* '' */
.icon-trash-empty:before { content: '\e866'; } /* '' */
.icon-file-pdf:before { content: '\e86b'; } /* '' */
.icon-file-word:before { content: '\e86c'; } /* '' */
.icon-file-excel:before { content: '\e86d'; } /* '' */
.icon-file-powerpoint:before { content: '\e86e'; } /* '' */
.icon-file-image:before { content: '\e86f'; } /* '' */
.icon-folder-open:before { content: '\e870'; } /* '' */
.icon-folder-empty:before { content: '\e871'; } /* '' */
.icon-folder-open-empty:before { content: '\e872'; } /* '' */
.icon-rss:before { content: '\e873'; } /* '' */
.icon-rss-squared:before { content: '\e874'; } /* '' */
.icon-box:before { content: '\e875'; } /* '' */
.icon-phone-squared:before { content: '\e877'; } /* '' */
.icon-menu:before { content: '\e878'; } /* '' */
.icon-fax:before { content: '\e879'; } /* '' */
.icon-cog:before { content: '\e87a'; } /* '' */
.icon-cog-alt:before { content: '\e87b'; } /* '' */
.icon-wrench:before { content: '\e87c'; } /* '' */
.icon-sliders:before { content: '\e87d'; } /* '' */
.icon-login:before { content: '\e881'; } /* '' */
.icon-logout:before { content: '\e882'; } /* '' */
.icon-mic:before { content: '\e883'; } /* '' */
.icon-mute:before { content: '\e884'; } /* '' */
.icon-volume-off:before { content: '\e885'; } /* '' */
.icon-volume-down:before { content: '\e886'; } /* '' */
.icon-volume-up:before { content: '\e887'; } /* '' */
.icon-clock:before { content: '\e889'; } /* '' */
.icon-lightbulb:before { content: '\e88a'; } /* '' */
.icon-block:before { content: '\e88b'; } /* '' */
.icon-down-circled2:before { content: '\e88e'; } /* '' */
.icon-up-circled2:before { content: '\e88f'; } /* '' */
.icon-left-circled2:before { content: '\e890'; } /* '' */
.icon-right-circled2:before { content: '\e891'; } /* '' */
.icon-down-dir:before { content: '\e892'; } /* '' */
.icon-up-dir:before { content: '\e893'; } /* '' */
.icon-left-dir:before { content: '\e894'; } /* '' */
.icon-right-dir:before { content: '\e895'; } /* '' */
.icon-down-open:before { content: '\e896'; } /* '' */
.icon-left-open:before { content: '\e897'; } /* '' */
.icon-right-open:before { content: '\e898'; } /* '' */
.icon-up-open:before { content: '\e899'; } /* '' */
.icon-angle-left:before { content: '\e89a'; } /* '' */
.icon-angle-right:before { content: '\e89b'; } /* '' */
.icon-angle-up:before { content: '\e89c'; } /* '' */
.icon-angle-down:before { content: '\e89d'; } /* '' */
.icon-angle-circled-left:before { content: '\e89e'; } /* '' */
.icon-angle-circled-right:before { content: '\e89f'; } /* '' */
.icon-angle-circled-up:before { content: '\e8a0'; } /* '' */
.icon-angle-circled-down:before { content: '\e8a1'; } /* '' */
.icon-angle-double-left:before { content: '\e8a2'; } /* '' */
.icon-angle-double-right:before { content: '\e8a3'; } /* '' */
.icon-angle-double-up:before { content: '\e8a4'; } /* '' */
.icon-angle-double-down:before { content: '\e8a5'; } /* '' */
.icon-down:before { content: '\e8a6'; } /* '' */
.icon-left:before { content: '\e8a7'; } /* '' */
.icon-right:before { content: '\e8a8'; } /* '' */
.icon-up:before { content: '\e8a9'; } /* '' */
.icon-down-big:before { content: '\e8aa'; } /* '' */
.icon-left-big:before { content: '\e8ab'; } /* '' */
.icon-right-big:before { content: '\e8ac'; } /* '' */
.icon-up-big:before { content: '\e8ad'; } /* '' */
.icon-left-circled:before { content: '\e8ae'; } /* '' */
.icon-right-circled:before { content: '\e8af'; } /* '' */
.icon-up-circled:before { content: '\e8b0'; } /* '' */
.icon-down-circled:before { content: '\e8b1'; } /* '' */
.icon-cw:before { content: '\e8b2'; } /* '' */
.icon-ccw:before { content: '\e8b3'; } /* '' */
.icon-arrows-cw:before { content: '\e8b4'; } /* '' */
.icon-shuffle:before { content: '\e8b5'; } /* '' */
.icon-play:before { content: '\e8b6'; } /* '' */
.icon-play-circled:before { content: '\e8b7'; } /* '' */
.icon-play-circled2:before { content: '\e8b8'; } /* '' */
.icon-stop:before { content: '\e8b9'; } /* '' */
.icon-pause:before { content: '\e8ba'; } /* '' */
.icon-to-end:before { content: '\e8bb'; } /* '' */
.icon-to-end-alt:before { content: '\e8bc'; } /* '' */
.icon-fast-fw:before { content: '\e8be'; } /* '' */
.icon-fast-bw:before { content: '\e8bf'; } /* '' */
.icon-eject:before { content: '\e8c1'; } /* '' */
.icon-wifi:before { content: '\e8c3'; } /* '' */
.icon-desktop:before { content: '\e8c4'; } /* '' */
.icon-tablet:before { content: '\e8c6'; } /* '' */
.icon-mobile:before { content: '\e8c7'; } /* '' */
.icon-inbox:before { content: '\e8c8'; } /* '' */
.icon-globe:before { content: '\e8c9'; } /* '' */
.icon-sun:before { content: '\e8ca'; } /* '' */
.icon-cloud:before { content: '\e8cb'; } /* '' */
.icon-flash:before { content: '\e8cc'; } /* '' */
.icon-moon:before { content: '\e8cd'; } /* '' */
.icon-umbrella:before { content: '\e8ce'; } /* '' */
.icon-flight:before { content: '\e8cf'; } /* '' */
.icon-paper-plane:before { content: '\e8d0'; } /* '' */
.icon-paper-plane-empty:before { content: '\e8d1'; } /* '' */
.icon-space-shuttle:before { content: '\e8d2'; } /* '' */
.icon-leaf:before { content: '\e8d3'; } /* '' */
.icon-list-bullet:before { content: '\e8d4'; } /* '' */
.icon-list:before { content: '\e8d5'; } /* '' */
.icon-list-numbered:before { content: '\e8d6'; } /* '' */
.icon-scissors:before { content: '\e8d8'; } /* '' */
.icon-off:before { content: '\e8da'; } /* '' */
.icon-list-alt:before { content: '\e8db'; } /* '' */
.icon-barcode:before { content: '\e8dc'; } /* '' */
.icon-book:before { content: '\e8dd'; } /* '' */
.icon-ajust:before { content: '\e8de'; } /* '' */
.icon-tint:before { content: '\e8df'; } /* '' */
.icon-toggle-off:before { content: '\e8e0'; } /* '' */
.icon-toggle-on:before { content: '\e8e1'; } /* '' */
.icon-check:before { content: '\e8e2'; } /* '' */
.icon-circle:before { content: '\e8e3'; } /* '' */
.icon-circle-empty:before { content: '\e8e4'; } /* '' */
.icon-circle-thin:before { content: '\e8e5'; } /* '' */
.icon-circle-notch:before { content: '\e8e6'; } /* '' */
.icon-dot-circled:before { content: '\e8e7'; } /* '' */
.icon-asterisk:before { content: '\e8e8'; } /* '' */
.icon-gift:before { content: '\e8e9'; } /* '' */
.icon-fire:before { content: '\e8ea'; } /* '' */
.icon-magnet:before { content: '\e8eb'; } /* '' */
.icon-ticket:before { content: '\e8f0'; } /* '' */
.icon-credit-card:before { content: '\e8f1'; } /* '' */
.icon-floppy:before { content: '\e8f2'; } /* '' */
.icon-hdd:before { content: '\e8f3'; } /* '' */
.icon-key:before { content: '\e8f4'; } /* '' */
.icon-rocket:before { content: '\e8f5'; } /* '' */
.icon-bug:before { content: '\e8f6'; } /* '' */
.icon-certificate:before { content: '\e8f7'; } /* '' */
.icon-tasks:before { content: '\e8f8'; } /* '' */
.icon-beaker:before { content: '\e8f9'; } /* '' */
.icon-magic:before { content: '\e8fa'; } /* '' */
.icon-cab:before { content: '\e8fb'; } /* '' */
.icon-taxi:before { content: '\e8fc'; } /* '' */
.icon-bicycle:before { content: '\e8fd'; } /* '' */
.icon-bus:before { content: '\e8fe'; } /* '' */
.icon-truck:before { content: '\e8ff'; } /* '' */
.icon-money:before { content: '\e900'; } /* '' */
.icon-euro:before { content: '\e901'; } /* '' */
.icon-pound:before { content: '\e902'; } /* '' */
.icon-dollar:before { content: '\e903'; } /* '' */
.icon-rupee:before { content: '\e904'; } /* '' */
.icon-yen:before { content: '\e905'; } /* '' */
.icon-rouble:before { content: '\e906'; } /* '' */
.icon-shekel:before { content: '\e907'; } /* '' */
.icon-try:before { content: '\e908'; } /* '' */
.icon-won:before { content: '\e909'; } /* '' */
.icon-bitcoin:before { content: '\e90a'; } /* '' */
.icon-sort:before { content: '\e90b'; } /* '' */
.icon-sort-down:before { content: '\e90c'; } /* '' */
.icon-sort-up:before { content: '\e90d'; } /* '' */
.icon-sort-alt-up:before { content: '\e90e'; } /* '' */
.icon-sort-alt-down:before { content: '\e90f'; } /* '' */
.icon-spinner:before { content: '\e910'; } /* '' */
.icon-coffee:before { content: '\e911'; } /* '' */
.icon-user-md:before { content: '\e913'; } /* '' */
.icon-stethoscope:before { content: '\e914'; } /* '' */
.icon-ambulance:before { content: '\e915'; } /* '' */
.icon-medkit:before { content: '\e916'; } /* '' */
.icon-hospital:before { content: '\e917'; } /* '' */
.icon-building:before { content: '\e918'; } /* '' */
.icon-building-filled:before { content: '\e919'; } /* '' */
.icon-smile:before { content: '\e91a'; } /* '' */
.icon-frown:before { content: '\e91b'; } /* '' */
.icon-meh:before { content: '\e91c'; } /* '' */
.icon-eraser:before { content: '\e91d'; } /* '' */
.icon-puzzle:before { content: '\e91e'; } /* '' */
.icon-shield:before { content: '\e91f'; } /* '' */
.icon-wheelchair:before { content: '\e920'; } /* '' */
.icon-bullseye:before { content: '\e921'; } /* '' */
.icon-extinguisher:before { content: '\e922'; } /* '' */
.icon-language:before { content: '\e923'; } /* '' */
.icon-graduation-cap:before { content: '\e924'; } /* '' */
.icon-spoon:before { content: '\e925'; } /* '' */
.icon-recycle:before { content: '\e926'; } /* '' */
.icon-cube:before { content: '\e927'; } /* '' */
.icon-tree:before { content: '\e928'; } /* '' */
.icon-database:before { content: '\e929'; } /* '' */
.icon-lifebuoy:before { content: '\e92a'; } /* '' */
.icon-rebel:before { content: '\e92b'; } /* '' */
.icon-empire:before { content: '\e92c'; } /* '' */
.icon-bomb:before { content: '\e92d'; } /* '' */
.icon-soccer-ball:before { content: '\e92e'; } /* '' */
.icon-tty:before { content: '\e92f'; } /* '' */
.icon-binoculars:before { content: '\e930'; } /* '' */
.icon-plug:before { content: '\e931'; } /* '' */
.icon-calc:before { content: '\e932'; } /* '' */
.icon-copyright:before { content: '\e933'; } /* '' */
.icon-at:before { content: '\e934'; } /* '' */
.icon-eyedropper:before { content: '\e935'; } /* '' */
.icon-brush:before { content: '\e936'; } /* '' */
.icon-birthday:before { content: '\e937'; } /* '' */
.icon-cc-visa:before { content: '\e938'; } /* '' */
.icon-cc-mastercard:before { content: '\e939'; } /* '' */
.icon-cc-discover:before { content: '\e93a'; } /* '' */
.icon-cc-amex:before { content: '\e93b'; } /* '' */
.icon-cc-paypal:before { content: '\e93c'; } /* '' */
.icon-cc-stripe:before { content: '\e93d'; } /* '' */
.icon-adn:before { content: '\e93e'; } /* '' */
.icon-android:before { content: '\e93f'; } /* '' */
.icon-apple:before { content: '\e940'; } /* '' */
.icon-behance:before { content: '\e941'; } /* '' */
.icon-behance-squared:before { content: '\e942'; } /* '' */
.icon-bitbucket:before { content: '\e943'; } /* '' */
.icon-bitbucket-squared:before { content: '\e944'; } /* '' */
.icon-codeopen:before { content: '\e945'; } /* '' */
.icon-css3:before { content: '\e946'; } /* '' */
.icon-digg:before { content: '\e947'; } /* '' */
.icon-dribbble:before { content: '\e948'; } /* '' */
.icon-dropbox:before { content: '\e949'; } /* '' */
.icon-flickr:before { content: '\e94c'; } /* '' */
.icon-github:before { content: '\e94d'; } /* '' */
.icon-github-squared:before { content: '\e94e'; } /* '' */
.icon-gplus:before { content: '\e94f'; } /* '' */
.icon-gplus-squared:before { content: '\e950'; } /* '' */
.icon-html5:before { content: '\e951'; } /* '' */
.icon-instagramm:before { content: '\e952'; } /* '' */
.icon-lastfm:before { content: '\e953'; } /* '' */
.icon-lastfm-squared:before { content: '\e954'; } /* '' */
.icon-linkedin-squared:before { content: '\e955'; } /* '' */
.icon-paypal:before { content: '\e957'; } /* '' */
.icon-pied-piper-alt:before { content: '\e958'; } /* '' */
.icon-pinterest-circled:before { content: '\e959'; } /* '' */
.icon-pinterest-squared:before { content: '\e95a'; } /* '' */
.icon-qq:before { content: '\e95b'; } /* '' */
.icon-renren:before { content: '\e95c'; } /* '' */
.icon-skype:before { content: '\e95d'; } /* '' */
.icon-spotify:before { content: '\e95e'; } /* '' */
.icon-stackoverflow:before { content: '\e95f'; } /* '' */
.icon-stackexchange:before { content: '\e960'; } /* '' */
.icon-stumbleupon:before { content: '\e961'; } /* '' */
.icon-tencent-weibo:before { content: '\e962'; } /* '' */
.icon-tumblr:before { content: '\e963'; } /* '' */
.icon-twitter:before { content: '\e964'; } /* '' */
.icon-twitter-squared:before { content: '\e965'; } /* '' */
.icon-wechat:before { content: '\e966'; } /* '' */
.icon-weibo:before { content: '\e967'; } /* '' */
.icon-wordpress:before { content: '\e968'; } /* '' */
.icon-vimeo-squared:before { content: '\e969'; } /* '' */
.icon-youtube:before { content: '\e96a'; } /* '' */
.icon-youtube-play:before { content: '\e96b'; } /* '' */
.icon-flashlight:before { content: '\e96f'; } /* '' */
.icon-user:before { content: '\e970'; } /* '' */
.icon-picture-1:before { content: '\e972'; } /* '' */
.icon-check-1:before { content: '\e973'; } /* '' */
.icon-cancel-1:before { content: '\e974'; } /* '' */
.icon-cancel-circled-1:before { content: '\e975'; } /* '' */
.icon-eye-1:before { content: '\e976'; } /* '' */
.icon-tag-1:before { content: '\e977'; } /* '' */
.icon-pencil-1:before { content: '\e97a'; } /* '' */
.icon-print-1:before { content: '\e97b'; } /* '' */
.icon-keyboard:before { content: '\e97c'; } /* '' */
.icon-comment-1:before { content: '\e97d'; } /* '' */
.icon-chat-1:before { content: '\e97e'; } /* '' */
.icon-vcard:before { content: '\e97f'; } /* '' */
.icon-book-1:before { content: '\e980'; } /* '' */
.icon-archive:before { content: '\e981'; } /* '' */
.icon-box-1:before { content: '\e982'; } /* '' */
.icon-folder:before { content: '\e983'; } /* '' */
.icon-mic-1:before { content: '\e985'; } /* '' */
.icon-hourglass:before { content: '\e986'; } /* '' */
.icon-clock-1:before { content: '\e987'; } /* '' */
.icon-phone-1:before { content: '\e988'; } /* '' */
.icon-lamp:before { content: '\e98a'; } /* '' */
.icon-light-up:before { content: '\e98b'; } /* '' */
.icon-adjust:before { content: '\e98c'; } /* '' */
.icon-light-down:before { content: '\e98d'; } /* '' */
.icon-window:before { content: '\e98e'; } /* '' */
.icon-publish:before { content: '\e98f'; } /* '' */
.icon-arrow-combo:before { content: '\e990'; } /* '' */
.icon-to-end-1:before { content: '\e991'; } /* '' */
.icon-fast-forward:before { content: '\e993'; } /* '' */
.icon-fast-backward:before { content: '\e994'; } /* '' */
.icon-record:before { content: '\e995'; } /* '' */
.icon-pause-1:before { content: '\e996'; } /* '' */
.icon-stop-1:before { content: '\e997'; } /* '' */
.icon-play-1:before { content: '\e998'; } /* '' */
.icon-ccw-1:before { content: '\e999'; } /* '' */
.icon-cw-1:before { content: '\e99a'; } /* '' */
.icon-progress-1:before { content: '\e99b'; } /* '' */
.icon-progress-2:before { content: '\e99c'; } /* '' */
.icon-progress-3:before { content: '\e99d'; } /* '' */
.icon-progress-0:before { content: '\e99e'; } /* '' */
.icon-mobile-1:before { content: '\e99f'; } /* '' */
.icon-monitor:before { content: '\e9a0'; } /* '' */
.icon-globe-1:before { content: '\e9a1'; } /* '' */
.icon-briefcase-1:before { content: '\e9a2'; } /* '' */
.icon-suitcase-1:before { content: '\e9a3'; } /* '' */
.icon-flight-1:before { content: '\e9a4'; } /* '' */
.icon-moon-1:before { content: '\e9a5'; } /* '' */
.icon-credit-card-1:before { content: '\e9a7'; } /* '' */
.icon-floppy-1:before { content: '\e9a8'; } /* '' */
.icon-bucket:before { content: '\e9a9'; } /* '' */
.icon-drive:before { content: '\e9aa'; } /* '' */
.icon-gplus-circled:before { content: '\e9ae'; } /* '' */
.icon-linkedin-circled:before { content: '\e9af'; } /* '' */
.icon-dribbble-circled:before { content: '\e9b0'; } /* '' */
.icon-search-outline:before { content: '\e9b2'; } /* '' */
.icon-search-1:before { content: '\e9b3'; } /* '' */
.icon-heart-filled:before { content: '\e9b4'; } /* '' */
.icon-star-filled:before { content: '\e9b6'; } /* '' */
.icon-star-1:before { content: '\e9b7'; } /* '' */
.icon-videocam-1:before { content: '\e9b8'; } /* '' */
.icon-videocam-outline:before { content: '\e9b9'; } /* '' */
.icon-picture-outline:before { content: '\e9ba'; } /* '' */
.icon-picture-2:before { content: '\e9bb'; } /* '' */
.icon-camera-outline:before { content: '\e9bc'; } /* '' */
.icon-camera-2:before { content: '\e9bd'; } /* '' */
.icon-th-large:before { content: '\e9be'; } /* '' */
.icon-th-large-outline:before { content: '\e9bf'; } /* '' */
.icon-ok-outline:before { content: '\e9c0'; } /* '' */
.icon-ok-1:before { content: '\e9c1'; } /* '' */
.icon-cancel-outline:before { content: '\e9c2'; } /* '' */
.icon-cancel-2:before { content: '\e9c3'; } /* '' */
.icon-cancel-alt:before { content: '\e9c4'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e9c5'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e9c6'; } /* '' */
.icon-cancel-circled-2:before { content: '\e9c7'; } /* '' */
.icon-divide-outline:before { content: '\e9c8'; } /* '' */
.icon-divide:before { content: '\e9c9'; } /* '' */
.icon-eq-outline:before { content: '\e9ca'; } /* '' */
.icon-eq:before { content: '\e9cb'; } /* '' */
.icon-minus-1:before { content: '\e9cc'; } /* '' */
.icon-minus-outline:before { content: '\e9cd'; } /* '' */
.icon-plus-outline:before { content: '\e9ce'; } /* '' */
.icon-plus-1:before { content: '\e9cf'; } /* '' */
.icon-home-outline:before { content: '\e9d0'; } /* '' */
.icon-home-1:before { content: '\e9d1'; } /* '' */
.icon-link-1:before { content: '\e9d2'; } /* '' */
.icon-lock-filled:before { content: '\e9d3'; } /* '' */
.icon-lock-open-1:before { content: '\e9d4'; } /* '' */
.icon-lock-open-filled:before { content: '\e9d5'; } /* '' */
.icon-lock-1:before { content: '\e9d6'; } /* '' */
.icon-pin-outline:before { content: '\e9d7'; } /* '' */
.icon-pin-1:before { content: '\e9d8'; } /* '' */
.icon-eye-outline:before { content: '\e9d9'; } /* '' */
.icon-eye-2:before { content: '\e9da'; } /* '' */
.icon-tag-2:before { content: '\e9db'; } /* '' */
.icon-tags-1:before { content: '\e9dc'; } /* '' */
.icon-flag-1:before { content: '\e9de'; } /* '' */
.icon-flag-filled:before { content: '\e9df'; } /* '' */
.icon-download-1:before { content: '\e9e0'; } /* '' */
.icon-download-outline:before { content: '\e9e1'; } /* '' */
.icon-upload-outline:before { content: '\e9e2'; } /* '' */
.icon-upload-1:before { content: '\e9e3'; } /* '' */
.icon-upload-cloud-1:before { content: '\e9e4'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e9e5'; } /* '' */
.icon-code-outline:before { content: '\e9e6'; } /* '' */
.icon-forward-1:before { content: '\e9e7'; } /* '' */
.icon-forward-outline:before { content: '\e9e8'; } /* '' */
.icon-reply-1:before { content: '\e9e9'; } /* '' */
.icon-reply-outline:before { content: '\e9ea'; } /* '' */
.icon-code-1:before { content: '\e9eb'; } /* '' */
.icon-pencil-2:before { content: '\e9ec'; } /* '' */
.icon-pen:before { content: '\e9ed'; } /* '' */
.icon-edit-1:before { content: '\e9ee'; } /* '' */
.icon-location-outline:before { content: '\e9ef'; } /* '' */
.icon-location-1:before { content: '\e9f0'; } /* '' */
.icon-direction-outline:before { content: '\e9f1'; } /* '' */
.icon-direction-1:before { content: '\e9f2'; } /* '' */
.icon-compass-1:before { content: '\e9f3'; } /* '' */
.icon-folder-add:before { content: '\e9f4'; } /* '' */
.icon-folder-delete:before { content: '\e9f5'; } /* '' */
.icon-phone-outline:before { content: '\e9f6'; } /* '' */
.icon-phone-2:before { content: '\e9f7'; } /* '' */
.icon-wrench-1:before { content: '\e9f8'; } /* '' */
.icon-wrench-outline:before { content: '\e9f9'; } /* '' */
.icon-calendar-outlilne:before { content: '\e9fb'; } /* '' */
.icon-calendar-1:before { content: '\e9fc'; } /* '' */
.icon-mic-outline:before { content: '\e9fd'; } /* '' */
.icon-mic-2:before { content: '\e9fe'; } /* '' */
.icon-volume-low:before { content: '\e9ff'; } /* '' */
.icon-volume-middle:before { content: '\ea00'; } /* '' */
.icon-volume-off-1:before { content: '\ea01'; } /* '' */
.icon-volume-high:before { content: '\ea02'; } /* '' */
.icon-wristwatch:before { content: '\ea04'; } /* '' */
.icon-stopwatch:before { content: '\ea05'; } /* '' */
.icon-clock-2:before { content: '\ea06'; } /* '' */
.icon-lightbulb-1:before { content: '\ea07'; } /* '' */
.icon-desktop-1:before { content: '\ea08'; } /* '' */
.icon-tablet-1:before { content: '\ea0a'; } /* '' */
.icon-mobile-2:before { content: '\ea0b'; } /* '' */
.icon-wifi-1:before { content: '\ea0c'; } /* '' */
.icon-bat1:before { content: '\ea0d'; } /* '' */
.icon-bat2:before { content: '\ea0e'; } /* '' */
.icon-bat3:before { content: '\ea0f'; } /* '' */
.icon-bat4:before { content: '\ea10'; } /* '' */
.icon-bat-charge:before { content: '\ea11'; } /* '' */
.icon-sun-1:before { content: '\ea12'; } /* '' */
.icon-sun-filled:before { content: '\ea13'; } /* '' */
.icon-globe-alt:before { content: '\ea14'; } /* '' */
.icon-globe-alt-outline:before { content: '\ea15'; } /* '' */
.icon-lifebuoy-1:before { content: '\ea16'; } /* '' */
.icon-briefcase-2:before { content: '\ea17'; } /* '' */
.icon-brush-2:before { content: '\ea18'; } /* '' */
.icon-pipette:before { content: '\ea19'; } /* '' */
.icon-power-outline:before { content: '\ea1a'; } /* '' */
.icon-power:before { content: '\ea1b'; } /* '' */
.icon-check-2:before { content: '\ea1c'; } /* '' */
.icon-check-outline:before { content: '\ea1d'; } /* '' */
.icon-gift-1:before { content: '\ea1e'; } /* '' */
.icon-scissors-1:before { content: '\ea1f'; } /* '' */
.icon-key-1:before { content: '\ea20'; } /* '' */
.icon-clipboard:before { content: '\ea21'; } /* '' */
.icon-credit-card-2:before { content: '\ea22'; } /* '' */
.icon-ticket-1:before { content: '\ea23'; } /* '' */
.icon-tree-1:before { content: '\ea24'; } /* '' */
.icon-twitter-2:before { content: '\ea25'; } /* '' */
.icon-twitter-circled-1:before { content: '\ea26'; } /* '' */
.icon-dribbble-1:before { content: '\ea27'; } /* '' */
.icon-mobile-3:before { content: '\ea28'; } /* '' */
.icon-signal-1:before { content: '\ea29'; } /* '' */
.icon-ipod:before { content: '\ea2a'; } /* '' */
.icon-tablet-2:before { content: '\ea2b'; } /* '' */
.icon-mobile-4:before { content: '\ea2c'; } /* '' */
.icon-cloud-flash-inv:before { content: '\ea2d'; } /* '' */
.icon-cloud-inv:before { content: '\ea2e'; } /* '' */
.icon-cloud-moon-inv:before { content: '\ea2f'; } /* '' */
.icon-cloud-sun-inv:before { content: '\ea30'; } /* '' */
.icon-moon-inv:before { content: '\ea31'; } /* '' */
.icon-sun-inv:before { content: '\ea32'; } /* '' */
.icon-clouds-flash-alt:before { content: '\ea33'; } /* '' */
.icon-fahrenheit:before { content: '\ea34'; } /* '' */
.icon-celcius:before { content: '\ea35'; } /* '' */
.icon-na:before { content: '\ea36'; } /* '' */
.icon-windy-rain-inv:before { content: '\ea37'; } /* '' */
.icon-snow-inv:before { content: '\ea38'; } /* '' */
.icon-snow-heavy-inv:before { content: '\ea39'; } /* '' */
.icon-hail-inv:before { content: '\ea3a'; } /* '' */
.icon-drizzle-inv:before { content: '\ea3b'; } /* '' */
.icon-rain-inv:before { content: '\ea3c'; } /* '' */
.icon-cloud-1:before { content: '\ea3d'; } /* '' */
.icon-cloud-flash:before { content: '\ea3e'; } /* '' */
.icon-cloud-flash-alt:before { content: '\ea3f'; } /* '' */
.icon-drizzle:before { content: '\ea40'; } /* '' */
.icon-rain:before { content: '\ea41'; } /* '' */
.icon-windy:before { content: '\ea42'; } /* '' */
.icon-windy-rain:before { content: '\ea43'; } /* '' */
.icon-snow:before { content: '\ea44'; } /* '' */
.icon-snow-alt:before { content: '\ea45'; } /* '' */
.icon-snow-heavy:before { content: '\ea46'; } /* '' */
.icon-sunrise:before { content: '\ea47'; } /* '' */
.icon-sun-2:before { content: '\ea48'; } /* '' */
.icon-moon-2:before { content: '\ea49'; } /* '' */
.icon-eclipse:before { content: '\ea4a'; } /* '' */
.icon-mist:before { content: '\ea4b'; } /* '' */
.icon-wind:before { content: '\ea4c'; } /* '' */
.icon-cloud-sun:before { content: '\ea4d'; } /* '' */
.icon-cloud-moon:before { content: '\ea4e'; } /* '' */
.icon-fog-sun:before { content: '\ea4f'; } /* '' */
.icon-fog-moon:before { content: '\ea50'; } /* '' */
.icon-fog-cloud:before { content: '\ea51'; } /* '' */
.icon-clouds-flash:before { content: '\ea52'; } /* '' */
.icon-clouds:before { content: '\ea53'; } /* '' */
.icon-hail:before { content: '\ea54'; } /* '' */
.icon-search-2:before { content: '\ea55'; } /* '' */
.icon-camera-3:before { content: '\ea56'; } /* '' */
.icon-videocam-2:before { content: '\ea57'; } /* '' */
.icon-globe-2:before { content: '\ea58'; } /* '' */
.icon-globe-inv:before { content: '\ea59'; } /* '' */
.icon-monitor-1:before { content: '\ea5a'; } /* '' */
.icon-tablet-3:before { content: '\ea5b'; } /* '' */
.icon-mic-3:before { content: '\ea5d'; } /* '' */
.icon-mic-off:before { content: '\ea5e'; } /* '' */
.icon-twitter-3:before { content: '\ea5f'; } /* '' */
.icon-twitter-circled-2:before { content: '\ea60'; } /* '' */
.icon-gplus-1:before { content: '\ea63'; } /* '' */
.icon-gplus-circled-1:before { content: '\ea64'; } /* '' */
.icon-aboveground-rail:before { content: '\ea65'; } /* '' */
.icon-belowground-rail:before { content: '\ea66'; } /* '' */
.icon-basketball:before { content: '\ea67'; } /* '' */
.icon-beer:before { content: '\ea68'; } /* '' */
.icon-baseball:before { content: '\ea69'; } /* '' */
.icon-art-gallery:before { content: '\ea6a'; } /* '' */
.icon-bus-1:before { content: '\ea6b'; } /* '' */
.icon-bicycle-1:before { content: '\ea6c'; } /* '' */
.icon-college:before { content: '\ea6d'; } /* '' */
.icon-commerical-building:before { content: '\ea6e'; } /* '' */
.icon-credit-card-3:before { content: '\ea6f'; } /* '' */
.icon-cricket:before { content: '\ea70'; } /* '' */
.icon-fire-station:before { content: '\ea72'; } /* '' */
.icon-ferry:before { content: '\ea73'; } /* '' */
.icon-giraffe:before { content: '\ea74'; } /* '' */
.icon-garden:before { content: '\ea75'; } /* '' */
.icon-fuel:before { content: '\ea76'; } /* '' */
.icon-school:before { content: '\ea78'; } /* '' */
.icon-skiing:before { content: '\ea79'; } /* '' */
.icon-soccer:before { content: '\ea7a'; } /* '' */
.icon-swimming:before { content: '\ea7b'; } /* '' */
.icon-tennis:before { content: '\ea7c'; } /* '' */
.icon-toilet:before { content: '\ea7d'; } /* '' */
.icon-town-hall:before { content: '\ea7e'; } /* '' */
.icon-trash-1:before { content: '\ea7f'; } /* '' */
.icon-museum:before { content: '\ea80'; } /* '' */
.icon-monument:before { content: '\ea81'; } /* '' */
.icon-lodging:before { content: '\ea82'; } /* '' */
.icon-hospital-1:before { content: '\ea83'; } /* '' */
.icon-heliport:before { content: '\ea84'; } /* '' */
.icon-harbor:before { content: '\ea85'; } /* '' */
.icon-golf:before { content: '\ea86'; } /* '' */
.icon-warehouse:before { content: '\ea87'; } /* '' */
.icon-tree-2:before { content: '\ea88'; } /* '' */
.icon-tree-3:before { content: '\ea89'; } /* '' */
.icon-religious-islam:before { content: '\ea8a'; } /* '' */
.icon-religious-jewish:before { content: '\ea8b'; } /* '' */
.icon-rail:before { content: '\ea8c'; } /* '' */
.icon-police:before { content: '\ea8d'; } /* '' */
.icon-search-3:before { content: '\ea8e'; } /* '' */
.icon-search-circled:before { content: '\ea8f'; } /* '' */
.icon-desktop-2:before { content: '\ea90'; } /* '' */
.icon-desktop-circled:before { content: '\ea91'; } /* '' */
.icon-laptop-2:before { content: '\ea92'; } /* '' */
.icon-lightbulb-2:before { content: '\ea93'; } /* '' */
.icon-clock-circled:before { content: '\ea94'; } /* '' */
.icon-blind:before { content: '\ea95'; } /* '' */
.icon-child:before { content: '\ea96'; } /* '' */
.icon-adult:before { content: '\ea97'; } /* '' */
.icon-twitter-4:before { content: '\ea98'; } /* '' */
.icon-guidedog:before { content: '\ea99'; } /* '' */
.icon-accessibility:before { content: '\ea9a'; } /* '' */
.icon-male-1:before { content: '\ea9c'; } /* '' */
.icon-female-1:before { content: '\ea9d'; } /* '' */
.icon-github-1:before { content: '\ea9e'; } /* '' */
.icon-person:before { content: '\ea9f'; } /* '' */
.icon-hearing-impaired:before { content: '\eaa0'; } /* '' */
.icon-address-book:before { content: '\eaa1'; } /* '' */
.icon-address-book-alt:before { content: '\eaa2'; } /* '' */
.icon-gauge:before { content: '\eaa3'; } /* '' */
.icon-book-2:before { content: '\eaa4'; } /* '' */
.icon-adjust-1:before { content: '\eaa5'; } /* '' */
.icon-search-4:before { content: '\eaa7'; } /* '' */
.icon-mail-1:before { content: '\eaa8'; } /* '' */
.icon-star-2:before { content: '\eaaa'; } /* '' */
.icon-user-1:before { content: '\eaab'; } /* '' */
.icon-videocam-3:before { content: '\eaac'; } /* '' */
.icon-camera-4:before { content: '\eaad'; } /* '' */
.icon-photo:before { content: '\eaae'; } /* '' */
.icon-lock-2:before { content: '\eaaf'; } /* '' */
.icon-eye-3:before { content: '\eab0'; } /* '' */
.icon-attach-1:before { content: '\eab1'; } /* '' */
.icon-tag-3:before { content: '\eab2'; } /* '' */
.icon-thumbs-up-1:before { content: '\eab3'; } /* '' */
.icon-pencil-3:before { content: '\eab4'; } /* '' */
.icon-comment-2:before { content: '\eab5'; } /* '' */
.icon-location-2:before { content: '\eab6'; } /* '' */
.icon-cup:before { content: '\eab7'; } /* '' */
.icon-trash-2:before { content: '\eab8'; } /* '' */
.icon-key-2:before { content: '\eaba'; } /* '' */
.icon-database-1:before { content: '\eabb'; } /* '' */
.icon-megaphone:before { content: '\eabc'; } /* '' */
.icon-graduation-cap-1:before { content: '\eabd'; } /* '' */
.icon-fire-1:before { content: '\eabe'; } /* '' */
.icon-paper-plane-1:before { content: '\eabf'; } /* '' */
.icon-cloud-2:before { content: '\eac0'; } /* '' */
.icon-globe-3:before { content: '\eac1'; } /* '' */
.icon-inbox-1:before { content: '\eac2'; } /* '' */
.icon-cd:before { content: '\eac3'; } /* '' */
.icon-desktop-3:before { content: '\eac4'; } /* '' */
.icon-tv:before { content: '\eac5'; } /* '' */
.icon-mobile-6:before { content: '\eac6'; } /* '' */
.icon-lightbulb-3:before { content: '\eac7'; } /* '' */
.icon-clock-3:before { content: '\eac8'; } /* '' */
.icon-sound:before { content: '\eac9'; } /* '' */
.icon-calendar-2:before { content: '\eaca'; } /* '' */
.icon-params:before { content: '\eacb'; } /* '' */
.icon-cog-1:before { content: '\eacc'; } /* '' */
.icon-note-1:before { content: '\eacd'; } /* '' */
.icon-beaker-1:before { content: '\eace'; } /* '' */
.icon-truck-1:before { content: '\eacf'; } /* '' */
.icon-money-1:before { content: '\ead0'; } /* '' */
.icon-shop:before { content: '\ead2'; } /* '' */
.icon-diamond:before { content: '\ead3'; } /* '' */
.icon-t-shirt:before { content: '\ead4'; } /* '' */
.icon-wallet:before { content: '\ead5'; } /* '' */
.icon-flickr-1:before { content: '\ead6'; } /* '' */
.icon-flickr-circled:before { content: '\ead7'; } /* '' */
.icon-pinterest:before { content: '\ead8'; } /* '' */
.icon-pinterest-circled-1:before { content: '\ead9'; } /* '' */
.icon-tumblr-1:before { content: '\eada'; } /* '' */
.icon-tumblr-circled:before { content: '\eadb'; } /* '' */
.icon-linkedin:before { content: '\eadc'; } /* '' */
.icon-instagram:before { content: '\eadd'; } /* '' */
.icon-cd-1:before { content: '\eae0'; } /* '' */