<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
================================================== -->
	<meta charset="utf-8">
	<title>We Bridge the Gap between Travelers and Locals - Lokafy</title>
	<meta name="description" content="Lokafy Website">
	<meta name="author" content="Qing Li">
	<meta name="keyword" content="travel, tour, local, toronto, paris">

	<!-- Mobile Specific Metas
================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
================================================== -->
	{% load staticfiles %}
	{% load static %}
	{% static "" as baseUrl %}
	<link rel="stylesheet" href="{% static "css/lokafyer.css"%}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/featherlight.min.css"%}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script>
	//Get the lokafyers
	angular.module('CityApp', [])
	//data = {{data}}

	/**
	 * Controller that connects business logic to the view.
	 */
	.controller('CityController', ['$scope', '$http', function($scope, $http) {
		$scope.city = '{{city}}';
		$scope.genderFilter = '';
		$scope.interestFilter = '';
		$scope.languageFilter = 'English';
		$scope.changeGender = function (newGender) {
			$scope.genderFilter = newGender;
		}
		$scope.changeInterest = function (newInterest) {
			if (newInterest === $scope.interestFilter){
				$scope.interestFilter = '';
			} else {
				$scope.interestFilter = newInterest;
			}
		}
		$scope.changeLanguage = function (newLanguage) {
			console.log(newLanguage);
			$scope.languageFilter = newLanguage;
		}
		$scope.LokafyerFilter = function (lokafyer) {
			// gender
			var genderMatch = true;
			if ($scope.genderFilter !== '' && $scope.genderFilter !== lokafyer.gender){
				genderMatch = false;
			}
			// interests
			var interestsMatch = true;
			if ($scope.interestFilter !== '' && lokafyer.interests.indexOf($scope.interestFilter) === -1){
				interestsMatch = false;
			}
			// language
			var languageMatch = true;
			if ($scope.languageFilter !== '' && lokafyer.languages.indexOf($scope.languageFilter) === -1){
				languageMatch = false;
			}
			return genderMatch && interestsMatch && languageMatch;
		}
		$http.get('../../api/city/{{city}}').
		    success(function(data, status, headers, config) {
		    	$scope.data = data;
		    	$scope.languages = [];
		    	angular.forEach($scope.data.lokafyers, function (lokafyer) {
		    		angular.forEach(lokafyer.languages, function (language){
		    			if ($scope.languages.indexOf(language) === -1){
		    				$scope.languages.push(language);
		    			}
		    		});
		    		
		    	});
		    }).
		    error(function(data, status, headers, config) {
		      // log error
		    });
	}]);
	</script>
		
	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="{% static "images/icon/favicon.png"%}">
	<link rel="apple-touch-icon" href="{% static "images/icon/apple-touch-icon.png"%}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "images/icon/apple-touch-icon-72x72.png"%}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "images/icon/apple-touch-icon-114x114.png"%}">
	
</head>

<body ng-app="CityApp" ng-controller="CityController" ng-init="city='{{city}}'">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WR84ZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WR84ZN');</script>
<!-- End Google Tag Manager -->

		<div class="body-container">
			<div class="body-container-top">
				<div id="navigation" class="navigation">

					<a href="index.html"><img class="logo" src="{% static "images/logos/logo-blue.png"%}"></a>
					<p class="city">{{data.city}}</p>
				</div>
			</div>

			<div class="body-container-bottom">
				<div class="main">
					<div id="filter" class="filter">
						<!--<div class="map">
							<p>Map</p>
							<a href="#" data-featherlight="#maps"><img src="{% static "images/lokafyer/map-paris.png"%}"></a>
						</div>-->
						<div class="gender">
							<p>Gender</p>
							<div class="gender-icon">
								{% verbatim %}
								<a href="#" ng-click="changeGender('')">
									<img ng-src="{{genderFilter !== '' && '/static/images/lokafyer/both-icon.png' ||'/static/images/lokafyer/after/both-icon.png'}}">
								</a>
								<a href="#" ng-click="changeGender('F')">
									<img ng-src="{{genderFilter !== 'F' && '/static/images/lokafyer/female-icon.png' ||'/static/images/lokafyer/after/female-icon.png'}}">
								</a>
								<a href="#" ng-click="changeGender('M')">
									<img ng-src="{{genderFilter !== 'M' && '/static/images/lokafyer/male-icon.png' ||'/static/images/lokafyer/after/male-icon.png'}}">
								</a>
								{% endverbatim %}
							</div>
						</div>
						<!--<div class="age">
							<p>Age</p><br>
							<div class="age-slider"></div>
						</div>-->
						<div class="interests">
							<p>interests</p>
							<div class="icon-container">
								{% verbatim %}
								<a href="#" ng-click="changeInterest('Art')">
									<img ng-src="{{interestFilter !== 'Art' && '/static/images/lokafyer/art.png' || '/static/images/lokafyer/after/art.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Music')">
									<img ng-src="{{interestFilter !== 'Music' && '/static/images/lokafyer/music.png' || '/static/images/lokafyer/after/music.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('History')">
									<img ng-src="{{interestFilter !== 'History' && '/static/images/lokafyer/history.png' || '/static/images/lokafyer/after/history.png'}}">
								</a>

								<a href="#" ng-click="changeInterest('Fashion')">
									<img ng-src="{{interestFilter !== 'Fashion' && '/static/images/lokafyer/fashion.png' || '/static/images/lokafyer/after/fashion.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Sports')">
									<img ng-src="{{interestFilter !== 'Sports' && '/static/images/lokafyer/sports.png' || '/static/images/lokafyer/after/sports.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Food')">
									<img ng-src="{{interestFilter !== 'Food' && '/static/images/lokafyer/food.png' || '/static/images/lokafyer/after/food.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Photography')">
									<img ng-src="{{interestFilter !== 'Photography' && '/static/images/lokafyer/photography.png' || '/static/images/lokafyer/after/photography.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Nightlife')">
									<img ng-src="{{interestFilter !== 'Nightlife' && '/static/images/lokafyer/nightlife.png' || '/static/images/lokafyer/after/nightlife.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Film')">
									<img ng-src="{{interestFilter !== 'Film' && '/static/images/lokafyer/film.png' || '/static/images/lokafyer/after/film.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Outdoors')">
									<img ng-src="{{interestFilter !== 'Outdoors' && '/static/images/lokafyer/outdoors.png' || '/static/images/lokafyer/after/outdoors.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Travel')">
									<img ng-src="{{interestFilter !== 'Travel' && '/static/images/lokafyer/travel.png' || '/static/images/lokafyer/after/travel.png'}}">
								</a>
								<a href="#" ng-click="changeInterest('Dance')">
									<img ng-src="{{interestFilter !== 'Dance' && '/static/images/lokafyer/dance.png' || '/static/images/lokafyer/after/dance.png'}}">
								</a>
								{% endverbatim %}
							</div>
						</div>
						<div class="languages">
							<p>languages</p>
							<nav>
								<ul>
									<li> 
										{% verbatim %}
										<a href="#">{{languageFilter}}</a>
										<ul class="fallback">
											
												<li ng-repeat="language in languages"><a href="#" ng-click="changeLanguage(language)">{{language}}</a></li>
											{% endverbatim %}
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="content-container">
						<div class="content">
							<div class="content-row">
								{% verbatim %}
								<span ng-repeat="lokafyer in data.lokafyers | filter:LokafyerFilter">
									<a href="#" data-featherlight="#lightbox-{{lokafyer.id}}">
										<div class="content-lokafyer" style="margin-right:0px;height:340px">
											<!--<div class="profile"><img src="/static/images/lokafyer/{{lokafyer.id}}.jpg"></div>-->
											<div class="profile"><img src="/static/images/lokafyer/anna.jpg"></div>
											<div class="intro">
												<h4>{{lokafyer.first_name}}</h4>
												<p>{{lokafyer.about_short}}</p>
											</div>
										</div>
								</a>
								</span>
								{% endverbatim %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	<!-- Hidden
================================================== -->

		<div class="lightbox-map" id="maps">
			<div class="map-container">

				<div class="map-container-left">
					<img src="{% static "images/lokafyer/map-paris-big.png"%}">
				</div>
				
				<div class="map-container-right">
					<div class="map-container-right-top">
						<p>Introduction</p>
						<p>texttexttexttexttexttexttexttexttext</p>
					</div>
					<div class="map-container-right-bottom">
						<a href="#" data-featherlight="#p1"><img src="images/lokafyer/anna.jpg"></a>
						<a href="#" data-featherlight="#p1"><img src="images/lokafyer/anna.jpg"></a>
						<a href="#" data-featherlight="#p1"><img src="images/lokafyer/anna.jpg"></a>

					</div>
				</div>
			</div>
		</div>
		{% verbatim %}
			<span ng-repeat="lokafyer in data.lokafyers">
				<div class="lightbox" id="lightbox-{{lokafyer.id}}">
					<img src="/static/images/lokafyer/anna.jpg">
					<button class="btn btn-primary" style="margin-left: 270px;
margin-right: 225px;">Book Tour</button>
					<p>
						Age: {{lokafyer.age_range}}
						<br><br>
						Languages:{{lokafyer.lightbox_languages}}
						<br><br>
						Areas I'm Familiar With:<br>
						{{lokafyer.lightbox_areas}}
						<br><br>
						What I like to do on Sunny Afternoons:<br>
						{{lokafyer.lightbox_sunny}}
						<br><br>
						A Perfect Night Out is:<br>
						{{lokafyer.lightbox_night}}
						<br><br>
						How I get Around: <br>{{lokafyer.lightbox_transportation}}
						<br><br>
						About Me:<br>
						{{lokafyer.about}}
					</p>
				</div>	
			</span>
		{% endverbatim %}

<script type="text/javascript" src="{% static "js/jquery-2.1.1.js"%}"></script>
<script type="text/javascript" src="{% static "js/featherlight.min.js"%}"></script>
<script type="text/javascript">
$('nav li ul').hide().removeClass('fallback');
$('nav li').hover(
  function () {
    $('ul', this).stop().slideDown(100);
  },
  function () {
    $('ul', this).stop().slideUp(100);
  }
);
</script>
<script type="text/javascript">
$(document).ready(function() {

  var active1 = false;
  var active2 = false;
  var active3 = false;
  var active4 = false;

    $('.parent').on('mousedown touchstart', function() {
    
    if (!active1) $(this).find('.paris').css({'background-color': '#3984c7', 'transform': 'translate(80px,0px)'});
    else $(this).find('.paris').css({'background-color': 'dimGray', 'transform': 'none'}); 
     if (!active2) $(this).find('.toronto').css({'background-color': '#fff', 'transform': 'translate(153px,0px)'});
    else $(this).find('.toronto').css({'background-color': 'darkGray', 'transform': 'none'});
      if (!active3) $(this).find('.newyork').css({'background-color': 'gray', 'transform': 'translate(105px,60px)'});
    else $(this).find('.newyork').css({'background-color': 'silver', 'transform': 'none'});
      if (!active4) $(this).find('.beijing').css({'background-color': 'gray', 'transform': 'translate(125px,100px)'});
    else $(this).find('.beijing').css({'background-color': 'silver', 'transform': 'none'});
    active1 = !active1;
    active2 = !active2;
    active3 = !active3;
    active4 = !active4;
      
    });

});</script>

</body>

</html>