{% load bootstrap %}
<!DOCTYPE html>
<html>
  <head>
    <title>Submit Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
<div class="container">

	<form role="form" class="col-sm-8 col-sm-offset-2 well" method="post" enctype="multipart/form-data">
	    <legend>Submit Profile</legend>
	    {% csrf_token %}
	    {{ form|bootstrap }}
	    <div class="form-group">
	      <button type="submit" class="btn btn-primary">Submit</button>
	    </div>
	</form>
</div>

  </body>
</html>
